/* Add your custom styles here */
/* For example: */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
/* styles.css */

/* Increase the height of the navbar */
.navbar {
    height: 80px;
    /* Adjust the height as needed */
}

/* Add some padding to the navbar brand */
.navbar-brand {
    padding-top: 15px;
    font-size: 30px;
        font-weight: bold;
    /* Adjust the padding as needed */
}

/* Center the navbar links vertically */
.navbar-nav {
    display: flex;
    align-items: center;
}

/* Increase the height of the navbar links */
.navbar-nav .nav-link {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    /* Adjust the padding as needed */
}
body{
    background-image: url(sheng-hu-xwDc5ChNzs8-unsplash.jpg);
}
.custom-rounded {
    border-radius: 20px;
    /* Adjust the value to increase or decrease roundness */
}
